.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .alert-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    max-width: 400px;
  }
  
  .title-text {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-family:  Courier;
  }
  
  .message-text {
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    font-family:  Courier;
  }

  .buttons-container {
    display: flex;
    justify-content: flex-end;
    max-width: 400px;
    align-items: end;
  }
  
  .alert-button {
    padding: 10px;
    min-width: 80px;
    align-items: right;
    background-color: #00604a;
    border-radius: 5px;
    margin: 5px;
    border: none;
    cursor: pointer;
    color: aliceblue;
  }

  .cancel-button {
    background-color: #DDDDDD;
    padding: 10px;
    min-width: 80px;
    align-items: right;;
    border-radius: 5px;
    margin: 5px;
    border: none;
    cursor: pointer;

  }
  .alert-button:hover {
    background-color: #00401b;
  }
  
  .cancel-button:hover {
    background-color: #DDDEEE;
  }
  .button-text {
    font-size: 16px;
    font-weight: bold;
  }
  
  